.btn{
	border: 0;
	outline: 0;
	cursor: pointer;
	text-transform: uppercase;
	color: $white;
	display: inline-block;
	text-align: center;

	font-size: 16px;
	
	@include transition(all, .25s, ease-in-out);

	&.lg{
		height: 49px;
		line-height: 49px;

		@media(max-width: $grid_mobile){
			height: 42px;
			line-height: 42px;
		}
	}
	&.sm{
		height: 45px;
		line-height: 45px;

		@media(max-width: $grid_mobile){
			height: 37px;
			line-height: 37px;
		}
	}
	&.bordered{
		border-radius: 2px;
	}
	&.green{
		background: $green;
		&:hover{
			background: darken($green, 10%);
		}
	}
	&.semigreen{
		background: $filter-color-darkgreen;
		&:hover{
			background: darken($filter-color-darkgreen, 10%);	
		}
	}
	&.filter-border{
		color: #555555;
		border: 2px solid $filter-color-darkgreen;
		&:hover{
			background-color: $filter-color-darkgreen;
			color: $white;
		}
	}
	&.banner_btn{
		width: 245px;
		border: 1px solid $green;
		background: rgba(0,0,0, .1);
		&:hover{
			background: darken($green, 10%);
			border-color: darken($green, 10%); 
		}
	}

	// socials
	&.fb{
		background: #3c66c4;
	}
	&.vk{
		background: #44678d;
	}
	&.gp{
		background: #cf4332;
	}
	&.tw{
		background: #33ccff;
	}
}