#header nav{
	flex: 1 0 auto; 
	margin-left: 50px;
}
#navigation{
	float: left;
	list-style-type: none;

	> li {
		float: left;
		position: relative;
		margin: 0 20px;
		
		> a{
			text-transform: uppercase;
		}

		&:hover{
			> a{
				color: $green;
			}
			/* ul{
				display: block;
			} */
		}
	}

	a{
		display: block;

		
		font-weight: 300;
		color: $white;

		@include transition(.25s, ease-in-out);
	}

	// popup ul
	ul{
		display: none;
		position: absolute;
		z-index: 10;
		width: 245px;
		top: 55px;
		left: -20px;
		background: #0c1d03;
		padding: 15px 0;
		li{

		}
		a{
			padding: 0 20px;
			font-size: 16px;
			line-height: 44px;

			&:hover{
				background: #182810;
			}
		}

		&.active{
			display: block;
		}
	}
	
	&.active{
		display: block !important;
	}

	@media(max-width: $grid_mobile){
		top: 70px;
	}

	@media(max-width: $grid_tablet){
		display: none;
		text-align: center;
		padding: 10px 0;
		background: $darkgreen;
		position: absolute;
		top: 90px;
		left: 0;
		width: 100%;
		z-index: 100;

		> li{
			float: none;
			a{
				line-height: 44px;
			}
		}
		ul{
			position: relative;
			top: 0;
	    left: 0;
	    right: 0;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
		}
	}
}