.user-post{
	
	/* header */
	&__header{
		display: flex;
		align-items: center;
		margin-bottom: 25px;
	}
	&__image{
		width: 65px;
		height: 65px;
		display: block;
		margin-right: 20px;
		border-radius: 50%;
	}
	&__name-date{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
	}
	&__name{
		margin-bottom: 8px;
		color: #063134;
		font: {
			size: 16px;
			weight: 700;
		}
	}
	&__date{
		font-size: 12px;
		color: #959595;
	}

	/* body */
	&__body{
		font-size: 16px;
		color: #555555;
		line-height: 21px;

		img{
			margin-top: 25px;
			display: inline-block;
			max-width: 100%;
			height: auto;
		}
	}

	/* socials */
	&__likes{}
	&__socials{}
	

}