#footer{
	background: $darkgreen;
	color: $white;
	padding: 65px 0 50px;

	.title{
		font: {
			size: 18px;
			weight: 700;
		}
		line-height: 18px;
		color: $green;
		text-transform: uppercase;

		padding-bottom: 12px;
		border-bottom: 1px solid #25311e;
		margin-bottom: 6px;

		@media(max-width: $grid_mobile){
			border-bottom: 0;
			padding-bottom: 0;
			margin-bottom: 35px !important;
		}

		&.no_underline{
			padding-bottom: 0;
			border-bottom: 0;
			margin-bottom: 0;
		}
	}

	.text{
		font-size: 14px;
		line-height: 34px;
		text-transform: uppercase;
	}
	
	.logo{
		float: left;
		@media(max-width: $grid_mobile){
			float: none;
			display: inline-block;
			margin-bottom: 25px;
		}
	}
	.socials{
		float: right;
		a{
			display: inline-block;
			width: 36px;
			height: 36px;
			line-height: 36px;
			border: 2px solid #255617;
			border-radius: 50%;
			text-align: center;
			color: $green;
			font-size: 15px;

			@include transition(.25s ease-in-out);

			&:hover{
				border-color: $green;
				i{
					color: $white;
				}
			}
			i{
				color: $green;
				position: relative;
				top: -2px;
				@include transition(.25s ease-in-out);
			}
		}
		@media(max-width: $grid_mobile){
			float: none;
			text-align: center;
		}
	}

	.divider{
		@extend .clearfix;

		width: calc(100% - 30px);
		margin: 15px;
		height: 1px;

		background: #25311e;

		@media(max-width: $grid_mobile){
			margin: 45px 0 25px;
		}
	}

	form{
		margin-top: 30px;
		display: flex;

		@media(max-width: $grid_mobile){
			flex-direction: column;
		}

		input[type="text"],
		input[type="email"]{
			border: 0;
			outline: 0;
			height: 45px;
			line-height: 45px;
			font-size: 16px;
			color: #727272;
			padding-left: 15px;
			border-radius: 2px;
			display: inline-block;
		}
		input[type="email"]{
			margin: 0 10px;
			@media(max-width: $grid_mobile){
				margin: 20px 0 35px;
			}
		}

		.btn{
			@media(min-width: $grid_desktop){
				width: 100%;
			}
			@media(max-width: $grid_mobile){
				width: 185px;
				margin: 0 auto;
			}
		}
	}

	.top .col-sm-4{
		@media(max-width: $grid_mobile){
			margin-bottom: 60px;
		}
	}

	.bottom{
		margin-top: 50px;
		text-transform: uppercase;

		@media(max-width: $grid_mobile){
			text-align: center;
		}
	}
	
	.copyrights{
		float: left;
		min-height: 27px;
		line-height: 27px;
		@media(max-width: $grid_mobile){
			margin-bottom: 40px;
		}
	}
	.links{
		float: right;
		span{
			color: #868686;
			@media(max-width: $grid_mobile){
				display: block;
				text-indent: -9999px;
			}
		}
		a{
			color: #868686;
			@media(max-width: $grid_mobile){
				display: inline-block;
				clear: both;
			}
		}
	}
	.copyrights,
	.links{
		@media(max-width: $grid_mobile){
			float: none;
			font-size: 14px;
		}
	}
}