#header{
	background: $darkgreen;

	> .container{
		display: flex;
		align-items: center;
		height: 90px;
	}

	.logo{
		display: block;
		float: left;

		@media(max-width: $grid_mobile){
			width: 178px;
		}
	}

	.search{
		i{
			color: $white;
		}
	}

	.user_image{
		margin-left: 25px;
		img{
			display: inline-block;
			width: 44px;
			height: 44px;
			border-radius: 50%;
		}
	}
}

.mobile_menu_btn{
  width: 28px;
  cursor: pointer;
  display: none;

  @media(max-width: $grid_tablet){
    display: block;
  }

  span{
    display: block;
    width: 28px;
    height: 4px;
    margin-bottom: 7px;

    background: #fff;

    opacity: 1;
    visibility: visible;

    @include transition(.25s, ease-in-out);
  }

  &.active{
    span:first-child,
    span:last-child{
      opacity: 0;
      visibility: hidden;
    }
  }
}