/*
  Font
*/

$roboto: 'Roboto', sans-serif;

/*
  Colors
*/
$blue: #295f90;
$darkblue: #063134;
$green: #57c53d;
$darkgreen: #091801;
$white: #ffffff;

/*
  Grid
*/
$grid_desktop: 1200px;
$grid_tablet: 991px;
$grid_mobile: 767px;
