.lostfound_dogs_list{
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  .item{
    @extend .puppy-item;
    @extend .item_dog_list;
    width: 48%;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
  }

  .show-more-link{}
}
#map{

  /* for test */ 
  img{
    max-width: 100%;
    height: auto;
  }
}