/*
  Font
*/

$roboto: 'Roboto', sans-serif;

/*
  Colors
*/
$blue: #295f90;
$darkblue: #063134;
$green: #57c53d;
$darkgreen: #091801;
$white: #ffffff;
$lightgrey: #edf0f0;
$semigray: #f7f7f7;

$filter-color-darkgreen: #398228;

/*
  Grid
*/
$grid_desktop: 1140px;
$grid_tablet: 991px;
$grid_mobile: 767px;
